{% extends 'base.html' %}
{% load static %}

{% block title%}
Info
{% endblock %}
{% block content %}


<div class="hero">
    <div class="container">
        <h1> Maximizing Business 
            Potential with Analytics and AI</h1>
    </div>

    
    <div class="container mt-4">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="{% static '.\images\bar chart.png' %}" class="card-img-top" alt="Card Image">
              <div class="card-body">
                <p class="card-text">This is a description for the first card.</p>
                <a href="#" class="btn btn-primary">Bar Chart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="card">
                  <img src="{% static '.\images\graph.webp' %}" class="card-img-top" alt="Card Image">
              <div class="card-body">
                <p class="card-text">This is a description for the first card.</p>
                <a href="#" class="btn btn-primary">Graph Chart</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
                <img src="{% static '.\images\pie.jpg' %}" class="card-img-top" height=230px alt="Card Image">
              <div class="card-body">
                <p class="card-text">This is a description for the first card.</p>
                <a href="?action=pie_chart"  class="btn btn-primary">Pie Chart</a>
              </div>
            </div>
          </div>

        </div>
    </div>
    
</div>
{% endblock %}