{% extends 'base.html' %}

{% block content %}
<div class="hero">
    <div class="container">
        <h1>Maximizing Business 
            Potential with Analytics and AI</h1>
                
            <div class="container">
                <div class="upload-container">
                    <h2 class="text-center mb-4">Upload Your File</h2>
                    <form method="POST" enctype="multipart/form-data" class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-upload btn-lg">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}
